<div class="container d-flex vh-100">
    <div class="row w-100 align-items-center justify-content-center m-4 ">
        <form class="col-lg-6 col-md-6 bg-secondary-subtle rounded p-4 shadow"  #signUpForm="ngForm">
            <div class="d-flex justify-content-center">
                <h1>Cadastre-se!</h1>
            </div>
            <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text" class="form-control" id="nome" #nome="ngModel" 
                        required [(ngModel)]="model.nome" name="nome">
                <div [hidden]="nome.valid || nome.pristine" class="text-danger m-0 p-0">Campo Obrigatório</div>
            </div>
            <div class="form-group">
                <label for="nome">Email</label>
                <input type="text" class="form-control" id="email" #email="ngModel"
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required [(ngModel)]="model.email" name="email">
                    <div [hidden]="email.untouched || email.pristine" >
                        <div [hidden]="email.valid" class="text-danger m-0 p-0">
                            <p *ngIf="email.errors?.['required']">Campo Obrigatório</p>
                            <p *ngIf="email.errors?.['pattern']">Email inválido</p>
                          </div>
                    </div>
            </div>
            <div class="form-group">
                <label for="telefone">Telefone</label>
                <input type="text" class="form-control" id="telefone" #telefone="ngModel"
                        required [(ngModel)]="model.telefone" name="telefone">
                <div [hidden]="telefone.valid || telefone.pristine" class="text-danger m-0 p-0">Campo Obrigatório</div>
            </div>
            <div class="form-group">
                <label for="cidade">Cidade</label>
                <input type="text" class="form-control" id="cidade" #cidade="ngModel"
                        required [(ngModel)]="model.cidade" name="cidade">
                <div [hidden]="cidade.valid || cidade.pristine" class="text-danger m-0 p-0">Campo Obrigatório</div>
            </div>
            <div class="form-group">
                <label for="empresa">Empresa</label>
                <input type="text" class="form-control" id="empresa" #empresa="ngModel"
                        required [(ngModel)]="model.empresa" name="empresa">
                <div [hidden]="empresa.valid || empresa.pristine" class="text-danger m-0 p-0">Campo Obrigatório</div>
            </div>

            <div class="d-flex justify-content-evenly mt-3">
                <button type="button" class="btn btn-primary"
                    (click)="newCliente(); signUpForm.reset()" [disabled]="signUpForm.invalid">Cadastrar</button>
                <button type="button" class="btn btn-primary"
                    (click)="redirectLogin(); signUpForm.reset()">Sou Vendedor</button>
            </div>
            <h4 class="text-center text-danger" [hidden]="error == undefined">Erro: Cliente já cadastrado</h4>
            <h4 class="text-center text-success" [hidden]="success == undefined">{{success}}</h4>
            


        </form>
    </div>
</div>